In [1]:
import pandas as pd

html_raw = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")

pd.read_html will read in the tables on the page--after checking how many tables are in the list and checking their content, I determined the first  is the one we want to work with. I isolated this dataframe and removed "Not Assigned" boroughs.

In [61]:
len(html_raw)
toronto = html_raw[0]
display(toronto)

,Postal Code,Borough,Neighborhood
0,M1A,Not assigned,NaN
1,M2A,Not assigned,NaN
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,NaN
176,M6Z,Not assigned,NaN
177,M7Z,Not assigned,NaN
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,NaN

In [62]:
# remove "not assigned" boroughs
print(len(toronto))
print(toronto["Borough"].value_counts())
toronto = toronto[toronto.Borough != "Not assigned"]
print(len(toronto))

180
Not assigned        77
North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
East York            5
East Toronto         5
York                 5
Mississauga          1
Name: Borough, dtype: int64
103

Now that we have the "Not assigned" boroughs removed, we'll double-check that there are no repeated postal codes or neighborhoods with a "Not assigned" value

In [55]:
display(toronto[toronto.duplicated(["Postal Code"], keep=False)])
display(toronto[toronto.Neighborhood=="Not Assigned"])

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

In [63]:
display(toronto)

,Postal Code,Borough,Neighborhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,Business reply mail Processing Centre
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [58]:
toronto.shape

(103, 3)